/*
!e2e
!lib
!.editorconfig
!.gitignore
!.angular-cli.json
!karma.conf.js
!package.json
!protractor.conf.js
!README.md
!tsconfig.json
!tslint.json
!LICENCE
!rollup.config.js
!index.ts
lib/**/*.app.json
lib/**/*.spec.json
lib/**/*.ngsummary.json
lib/**/*.ngfactory.ts