/*
!e2e
!lib
!documentation
!.editorconfig
!.gitignore
!.angular-cli.json
!generate-dist-package.json.js
!karma.conf.js
!package.json
!protractor.conf.js
!README.md
!tsconfig.json
!tslint.json
!LICENSE
!rollup.config.js
!index.ts
!index.md
!tuto
lib/**/*.app.json
lib/**/*.spec.json
lib/**/*.ngsummary.json
lib/**/*.ngfactory.ts